// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main {
    height: 100vh;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-50 {
    margin-bottom: 50px;
}
